/* ==================== */
/* = Animation frames = */
/* ==================== */
/*Conter Clockwise animation from the history icon and the privacy icon*/
@-webkit-keyframes conterClockwise {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform: 		 rotate(0deg);
		transform: 				 rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
		-moz-transform: 	 rotate(-360deg);
		-ms-transform: 	   rotate(-360deg);
		-o-transform: 	 	 rotate(-360deg);
		transform: 				 rotate(-360deg);
 	}
}
@-moz-keyframes conterClockwise {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: 	 rotate(0deg);
		-ms-transform: 		 rotate(0deg);
		-o-transform: 		 rotate(0deg);
		transform: 				 rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
		-moz-transform:  	 rotate(-360deg);
		-ms-transform: 		 rotate(-360deg);
		-o-transform: 		 rotate(-360deg);
		transform: 	 			 rotate(-360deg);
 	}
}
-keyframes conterClockwise {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform: 		 rotate(0deg);
		-o-transform: 		 rotate(0deg);
		transform: 				 rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
		-moz-transform: 	 rotate(-360deg);
		-ms-transform: 		 rotate(-360deg);
		-o-transform: 		 rotate(-360deg);
		transform: 				 rotate(-360deg);
 	}
}

/*Animation of the Footer logo*/
@-webkit-keyframes logoAnimation {
	from { background-position: 0 0; }
	to { 	 background-position: -5358px 0; }
}
@-moz-keyframes logoAnimation {
	from { background-position: 0 0; }
	to { 	 background-position: -5358px 0; }
}
-keyframes logoAnimation {
	from { background-position: 0 0; }
	to { 	 background-position: -5358px 0; }
}


/* ============================================== */
/* = CSS for the main doc screen width >= 900px = */
/* ============================================== */
body{
	background: url('media/images/main_background.png') repeat-x fixed;
	color:#333333;
	font-family: 'Source Sans Pro' , Helvetica, Arial, sans-serif;
	font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: 		antialiased;
	-ms-font-smoothing: 		antialiased;
  -o-font-smoothing: 			antialiased;
  font-smoothing: 				antialiased;
	margin: 0;
}

/*Highlight CSS*/
::selection {
	background: #aae6c3;
}
::-moz-selection {
	background: #aae6c3;
}

/* ========== */
/* = Header = */
/* ========== */
header{
	color:white;
	font-size: 15px;
	padding: 0 20px 0 20px;
	height: 50px;
	margin-top: 15px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: -99999;
}

/*Logo*/
header h1{
	background: url('media/images/logo.png') no-repeat;
	width: 149px;
	height: 29px;
	overflow: hidden;
	margin: 0;
	float: left;
}

.offleft a{
	text-indent: -9000px;
	display: block;
}

/*Menu*/
nav{
	font-weight: 600;
	text-transform: uppercase;
	float: right;
	margin-top: 7px;
}
nav a{
	color:white;
	text-decoration: none;
	margin-left: 20px;
}

nav a:hover span{
	border-bottom: 1px solid #89d1a7;
}

nav #english, nav #japanese, nav #spanish, nav #russian, nav #french{
	background: url('media/images/flags.png') no-repeat;
	width: 15px;
	height: 18px;
	overflow: hidden;
	text-indent: -9000px;
	display: inline-block;
}

nav #english{
	background-position: 0 3px;
}

nav #japanese{
	background-position: -17px 3px;
}

nav #spanish{
	background-position: -34px 3px;
}

nav #russian{
	background-position: -51px 3px;
}

nav #french{
	background-position: -68px 3px;
}

/* =============== */
/* = Main screen = */
/* =============== */
#top{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: -999999;
}

h1{
	color: white;
	font-size: 35px;
	width: 465px;
	text-align: center;
	text-shadow: 2px 1px 3px rgba(0,0,0,0.18);
	margin: auto;
	font-weight: 300;
	margin-top: 100px;
}

h1 span{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 600;
}

/*Download button*/
.download{
	max-width: 465px;
	margin: auto;
	margin-top: 30px;
}

.download-button, .download-button-opera, .download-button-default{
	width: 240px;
	height: 49px;
	background-color: #5bab7d;
	background-image: url('media/images/download_background.png');
	background-repeat: repeat-x;
	border-radius: 			10px;
	-moz-border-radius: 10px;
	box-shadow: 				0 2px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 		0 2px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.15);
	float: left;
	text-decoration: none;
	display: block;
}

.download-button-opera, .download-button-default{
	display: none;
}

.button-style{
	color: #2e593e;
	width: 100%;
	height: 100%;
	border-radius: 			10px;
	-moz-border-radius: 10px;
	box-shadow: 				inset 0 1px 0 rgba(255,255,255,0.28);
	-moz-box-shadow: 		inset 0 1px 0 rgba(255,255,255,0.28);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.28);
	background: url('media/images/download_icon.png') no-repeat;
	background-position:8% 50%;
}

.installed-button{
	display: none;
	width: 236px;
	height: 45px;
	border-radius: 			10px;
	-moz-border-radius: 10px;
	border: solid 2px #b3b3b3;
	border-offset: 2px;
	float: left;
	text-decoration: none;
}

.installed-style{
	color: #b3b3b3;
	width: 100%;
	height: 100%;
	background: url('media/images/check.png') no-repeat;
	background-position:8% 50%;
}

.button-style h4, .installed-style h4{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	margin: 0;
	padding-top: 14px;
	padding-left: 65px;
}

.installed-style h4{
	padding-top: 12px;
}

.download-links{
	height: 49px;
}

.upper-links{
	position: relative;
	top: 3px;
	color: white;
	text-decoration: none;
	font-size: 15px;
	margin-left: 30px;
}

.upper-links:hover{
	text-decoration: underline;
}

/*Browser screenshot*/
#upper-browser{
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	max-width: 900px;
	height: 565px;
	background: url('media/images/chrome_flat.png') no-repeat;
	background-size: 100%;
}

#upper-screenshot{
  margin-top: 73px;
}

/* ================ */
/* = Features CSS = */
/* ================ */
/*Delimitation*/
#green-line{
	width: 100%;
	height: 3px;
	background-color: #12a192;
}

#main-page{
	margin-top: 1060px;
	width: 100%;
	background-color: #f5f5f5;
}

#gray-background{
	background-color: #e3e3e3;
}

/*Browser history part*/
#browser-history{
	max-width: 900px;
	min-height: 255px;
	margin: auto;
	padding-top: 70px;
}

/*History icon*/
#history-illustration{
	width: 178px;
	height: 139px;
	background: url('media/images/history.png') no-repeat;
	float: left;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 30px;
}

#big-hand{
	width: 52px;
	height: 52px;
	background: url('media/images/big-hand.png') no-repeat;
	position: relative;
	top: 48px;
	left: 63px;
  -webkit-animation: conterClockwise 2s linear infinite;
	-moz-animation:    conterClockwise 2s linear infinite;
  -ms-animation:     conterClockwise 2s linear infinite;
  -o-animation:      conterClockwise 2s linear infinite;
  animation:         conterClockwise 2s linear infinite;
}

#little-hand{
	width: 52px;
	height: 52px;
	background: url('media/images/little-hand.png') no-repeat;
	position: relative;
	top: -4px;
	left: 63px;
  -webkit-animation: conterClockwise 24s steps(12) infinite;
  -moz-animation:    conterClockwise 24s steps(12) infinite;
	-ms-animation:     conterClockwise 24s steps(12) infinite;
  -o-animation:      conterClockwise 24s steps(12) infinite;
  animation:         conterClockwise 24s steps(12) infinite;
}

.inline-block{
	max-width: 550px;
	display: inline-block;
}

#browser-history h3{
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
}

#browser-history p{
	font-size: 18px;
	text-align: justify;
	margin-bottom: 25px;
}

#availability{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #737373;
	float: left;
}

#chrome-icon{
	background: url('media/images/chrome.png') no-repeat;
	width: 27px;
	height: 27px;
	text-indent: -9000px;
	position: relative;
	left: 15px;
	top: -5px;
	float: left;
}

#opera-icon{
	background: url('media/images/opera.png') no-repeat;
	width: 27px;
	height: 29px;
	text-indent: -9000px;
	position: relative;
	left: 30px;
	top: -6px;
	float: left;
}

/*Delimitation*/
#gray-triangle{
	background: url('media/images/delimitation.png') repeat-x center;
	width: 100%;
	height: 32px;
}

.white-background{
	background-color: white;
}

/*Collections description*/
#intelligente-record{
	max-width: 900px;
	min-height: 500px;
	margin: auto;
	padding-top: 70px;
}

h2{
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 33px;
	font-weight: 600;
}

#sticker-icon{
	background: url('media/images/sticker_icon.png') no-repeat;
	width: 94px;
	height: 124px;
	float: left;
	margin-top: 10px;
	margin-right: 60px;
	margin-left: 60px;
}

#sticker-detail{
	margin-top: 50px;
}

#sticker-sandbox{
	max-width: 837px;
	margin-top: 50px;
	margin: auto;
}

#sticker-description{
	padding-top: 1px;
}

#sticker-description p{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 27px;
	margin-bottom: 0px;
}

.sticker{
	width: 148px;
	height: 200px;
	background-color: #333333;
	border: 1px solid #5c5c5c;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.sticker h1{
	font-size: 13px;
	color: white;
	width: 128px;
	position: relative;
	margin: 0;
	left: 10px;
	top: 3px;
}

#sticker-image1, #sticker-image2, #sticker-image3{
	width: 148px;
	height: 150px;
	border: none;
	box-shadow: 				inset 0 2px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 		inset 0 2px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.5);
}

#sticker-image1{
	background: url('media/images/sticker1.png') no-repeat;
}

#sticker-image2{
	background: url('media/images/sticker2.png') no-repeat;
}

#sticker-image3{
	background: url('media/images/sticker3.png') no-repeat;
}

.sticker-line{
	width: 100%;
	height: 2px;
	background-color: #0b9b96;
	position: relative;
	top: -3px;
}

/*Delimiation*/
.gray-line{
	width: 100%;
	height: 1px;
	background-color: #b3b3b3;
}

/*Stop bookmarking part*/
#bookmarking-title{
	max-width: 745px;
	margin: auto;
	margin-top: 65px;
}

#bookmark-slider{
	max-width: 705px;
	min-height: 115px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

#slider1{
	min-height: 108px;
	max-width: 705px;
	position: absolute;
	opacity: 1;
	z-index: 1;
}

#slider2{
	min-height: 108px;
	max-width: 705px;
	position: absolute;
	opacity: 0;
}

#slider3{
	min-height: 108px;
	max-width: 705px;
	position: absolute;
	opacity: 0;
}

#ct-button{
	width: 68px;
	height: 68px;
	background: url('media/images/ctbutton.png') no-repeat;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 5px;
}

#ct-text{
	width: 65px;
	height: 32px;
	background: url('media/images/text.png') no-repeat;
	float: left;
	margin-top: 38px;
	margin-bottom: 38px;
	margin-right: 43px;
	margin-left: 5px;
}

#ct-tags{
	width: 76px;
	height: 19px;
	background: url('media/images/tags.png') no-repeat;
	float: left;
	margin-top: 45px;
	margin-bottom: 45px;
	margin-right: 37px;
}

.slider{
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity: 1s;
}

.hidden{
  opacity: 0;
}

.slider1{
  position: absolute;
  top: 0;
}
.slider2{
  position: absolute;
  top: 0;
}
.slider3{
  position: absolute;
  top: 0;
}

.slider1 p{
	padding-top: 6px;
}

.slider2 p{
	padding-top: 17px;
}

.slider3 p{
	padding-top: 6px;
}

/*Screenshots*/
#mac-screen{
	height: 462px;
	background: url('media/images/macscreen.png') no-repeat center;
	margin: auto;
	margin-top: 20px;
	padding-top: 66px;
}

#mac-browser{
	max-width: 900px;
	height: 462px;
	background: url('media/images/chrome_flat.png') no-repeat;
	background-size: 100%;
	margin: auto;
  position: relative;
  overflow: hidden;
}

#screenshot1{
  position: relative;
  top: 73px;
}

#screenshot2{
  position: relative;
  top: -422px;
}

/*Privacy description*/
#privacy{
	max-width: 900px;
	min-height: 565px;
	margin: auto;
	padding-top: 100px;
}

/*Privacy icon*/
#privacy-shield{
	background: url('media/images/privacy_shield.png') no-repeat;
	width: 210px;
	height: 210px;
	position: relative;
	top: -50px;
	left: -42px;
  -webkit-animation: conterClockwise 20s linear infinite;
  -moz-animation:    conterClockwise 20s linear infinite;
  -ms-animation:     conterClockwise 20s linear infinite;
	-o-animation:      conterClockwise 20s linear infinite;
  animation:         conterClockwise 20s linear infinite;
}

#privacy-icon{
	background: url('media/images/privacy.png') no-repeat;
	width: 130px;
	height: 105px;
	margin-top: 15px;
	margin-left: 68px;
	margin-right: 67px;
	margin-bottom: 70px;
	float: left;
}

#privacy-title{
	min-height: 217px;
}

#privacy-text{
	max-width: 635px;
	display: inline-block;
}

#privacy-text p{
	padding-right: 20px;
}

#no-login{
	background: url('media/images/nologin.png') no-repeat;
	width: 323px;
	height: 233px;
	float: left;
	margin-left: 120px;
	margin-right: 40px;
}

#privacy-description{
	max-width: 836px;
	padding-top: 1px;
}

#privacy-description p{
	margin-bottom: 30px;
}

#privacy a{
	text-decoration: none;
	color: #12a192;
	font-weight: 600;
}

#privacy a:hover{
	text-decoration: underline;
}

/*Underline cotton in cottontracks*/
p span{
	text-decoration: underline;
	vertical-align: 0.1em;
}

/*Download button bottom part*/
#download-bottom{
	max-width: 700px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

#download-bottom h5{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	float: left;
	margin-top: 13px;
	margin-right: 30px;
	margin-bottom: 0;
}

#download-bottom a{
	color: #333333;
}

/* ============== */
/* = Footer CSs = */
/* ============== */
footer{
	background-color: #333333;
	min-height: 235px;
	color: white;
}

#footer-grid{
	max-width: 830px;
	margin: auto;
	padding-top: 40px;
}

/*Icon ct*/
#desk{
	background: url('media/images/desk.png') no-repeat;
	width: 310px;
	height: 143px;
	float: left;
}

#anime-ct{
	background: url('media/images/littleanimation.png') no-repeat;
	width: 57px;
	height: 50px;
	position: relative;
	top: 69px;
	left: 91px;
}

/*Animation control*/
footer:hover #anime-ct{
	-webkit-animation: logoAnimation 4s steps(94) 1;
  -moz-animation:    logoAnimation 4s steps(94) 1;
	-ms-animation:     logoAnimation 4s steps(94) 1;
  -o-animation:      logoAnimation 4s steps(94) 1;
  animation:         logoAnimation 4s steps(94) 1;
}

#company-name{
	display: inline-block;
	float: left;
	padding-left: 20px;
	padding-top: 70px;
}

h6{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	margin: 0;
}

h5{
	font-weight: 600;
	font-size: 25px;
	margin: 0;
}

h5 > span{
	text-decoration: underline;
	vertical-align: 0.1em;
}

#footer-links{
	display: inline-block;
	padding-left: 120px;
	padding-top: 73px;
}

#social-medias{
	height: 21px;
	width: 122px;
	margin-bottom: 5px;
}

#social-medias a{
	float: left;
	text-indent: -9000px;
	width: 21px;
	height: 21px;
	margin-left: 7px;
}

#angellist{
	background: url('media/images/angellist.png') no-repeat;
}

#facebook{
	background: url('media/images/facebook.png') no-repeat;
}

#twitter{
	background: url('media/images/twitter.png') no-repeat;
}

#gplus{
	background: url('media/images/gplus.png') no-repeat;
}

#footer-links a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
}

#footer-links a:hover{
	text-decoration: underline;
}

/* =============================================== */
/* = CSS adjustment for mobile and small windows = */
/* =============================================== */

@media only screen and (max-width : 899px), and (max-device-width : 900px) {


/* ============= */
/* = Main page = */
/* ============= */
h1{
	width: 385px;
	font-size: 30px;
}

h1 span{
	font-size: 40px;
}

.download{
	max-width: 240px;
}

.download-button, .download-button-opera, .download-button-default{
	float: none;
	margin: auto;
}

.download-links{
	margin-top: 20px;
}

.download-links a{
	max-width: 240px;
	display: block;
	margin: auto;
	text-align: center;
}

#upper-browser{
	display: none;
}

/* ============ */
/* = Features = */
/* ============ */

#main-page{
	margin-top: 440px;
}
/*Browser history part*/
#browser-history{
	padding-top: 30px;
	padding-left: 5%;
	padding-right: 5%;
}

#history-illustration{
	margin: auto;
	float: none;
}

#browser-history h3{
	margin-top: 25px;
	text-align: center;
}

.inline-block{
	max-width: none;
	margin-bottom: 25px;
}

/*Collections description*/
#intelligente-record{
	padding-top: 30px;
	padding-left: 5%;
	padding-right: 5%;
	min-height: 0;
}

#sticker-icon{
	margin: auto;
	float: none;
}

h2{
	margin-top: 25px;
	text-align: center;
}

p{
	text-align: justify;
}

#sticker-detail{
	margin-top: 0;
}

.sticker{
	display: none;
}

#sticker-description{
	display: none;
}

/*Stop bookmarking part*/
#bookmarking-title{
	margin: 0;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
	max-width: none;
}

#bookmark-slider{
	max-width: none;
	padding-left: 5%;
	padding-right: 5%;
}

#mac-screen{
	display: none;
}

#slider1, #slider2, #slider3{
	position: static;
	opacity: 1;
	min-height: 0;
	max-width: none;
}

#ct-button, #ct-text, #ct-tags{
	float: none;
	margin: auto;
	display: none;
}

#slider1 p, #slider2 p, #slider3 p{
	padding-top: 0;
}

/*Privacy description*/
#privacy{
	padding-top: 65px;
	padding-left: 5%;
	padding-right: 5%;
}

#privacy-icon{
	float: none;
	margin: auto;
	margin-bottom: 70px;
}

#privacy-text{
	max-width: none;
}

#privacy-text p{
	padding-right: 0;
}

#no-login{
	float: none;
	margin: auto;
}

#privacy-description{
	padding-bottom: 20px;
}

/*Download button bottom part*/
#download-bottom h5{
	float: none;
	text-align: center;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
}

/* ============== */
/* = CSS Footer = */
/* ============== */
/*Animated Desk*/
#desk{
	float: none;
	margin: auto;
}

#anime-ct{
	-webkit-animation: logoAnimation 4s steps(94) infinite;
  -moz-animation:    logoAnimation 4s steps(94) infinite;
	-ms-animation:     logoAnimation 4s steps(94) infinite;
  -o-animation:      logoAnimation 4s steps(94) infinite;
  animation:         logoAnimation 4s steps(94) infinite;
}

footer:hover #anime-ct{
	-webkit-animation: logoAnimation 4s steps(94) infinite;
	-moz-animation:    logoAnimation 4s steps(94) infinite;
	-ms-animation:     logoAnimation 4s steps(94) infinite;
	-o-animation:      logoAnimation 4s steps(94) infinite;
	animation:         logoAnimation 4s steps(94) infinite;
}

#company-name{
	float: none;
	margin: auto;
	max-width: 196px;
	display: inline;
	text-align: center;
}

#footer-links{
	padding-top: 30px;
	margin-bottom: 30px;
	padding-left: 0;
	text-align: center;
	float: none;
	width: 100%;
}

#social-medias{
	margin-left: auto;
	margin-right: auto;
}
}

/* ============================== */
/* = iPhone with Retina Display = */
/* ============================== */
/*@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
body{
	width: 400px;
}

header{
	width: 360px;
}

#top{
	width: 400px;
}
}*/