.inline-block{max-width:570px;}
#history-illustration{margin-top:65px;}
#browser-history{min-height:335px;}
.slider1 p{padding-top:0;}
#ct-button{margin-top:25px;}
#no-login{margin-top:24px;}
#video-text h2{margin-top:15px;}